<div class="well well-lg">
	<center>
<h1>Correct!</h1>
<div class="alert alert-success">
  <h4>You answered correctly.</h4>
  
<p/><p/>
  
</div>
<%= link_to "Next Kanji Flashcard", test_flashcard_path(@random_card), class: "btn btn-primary" %>
</center>
</div>
