<div class="well well-lg">
	<center>
<h1>Incorrect</h1>
<div class="alert alert-danger">
  <h4>Sorry, that's not correct.</h4>
  <p>The correct keyword for <h1><b><%= @correct_flashcard.kanji %></b></h1> is <h1><%= @correct_flashcard.keyword %></h1></p>
  
<p/><p/>
</div>
<%= link_to "Next Kanji Flashcard", test_flashcard_path(@random_card), class: "btn btn-primary" %>
</center>
</div>