<div class="well well-lg">
<h1>View Flashcards</h1>


<div class="well well-sm">
<table class="table table-striped">
<thead>
	<tr>
		<th>Keyword</th>
		<th>Kanji</th>
		<th class="pull-right">Delete</th>
	</tr>
</thead>
<tbody>
<% for flashcard in @flashcards %>
  <tr>
  	<td><font style="font-size:40px"><%= link_to flashcard.keyword, edit_flashcard_path(flashcard.id) %> </font></td>
  	<td><font style="font-size:40px"><%= flashcard.kanji %></font></td>
  	<td><%= link_to "", flashcard_path(flashcard.id), :method => :delete, class: "btn btn-danger pull-right glyphicon glyphicon-remove" %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<%= button_to "Add a New Flashcard", new_flashcard_path, :method => :get, class: "btn btn-primary" %>
</div>
