<div class="well well-lg">
	<div class="well well-sm">
<h1>View Flashcards</h1>
	</div>
<ul class="list-group">
<% for flashcard in @flashcards %>
  <li class="list-group-item"><%= link_to flashcard.keyword, edit_flashcard_path(flashcard.id) %> 
  	<%= link_to "X", flashcard_path(flashcard.id), :method => :delete, class: "btn btn-danger pull-right" %><p><p></li>
<% end %>
</ul>
<h2><%= button_to "Add a New Flashcard", new_flashcard_path, :method => :get, class: "btn btn-primary" %><h2>
<h2><%= link_to "Start Flashcard Test", test_flashcard_path(@random_card) %></h2>
</div>
